<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand me-3" href="#">
      <img src="https://img.icons8.com/material-outlined/24/FFFFFF/circled-menu.png" alt="menu" width="25" height="25"
        class="d-inline-block">
    </a>
    <a class="navbar-brand" href="#">
      <img src="https://img.icons8.com/material-rounded/24/FFFFFF/task.png" alt="" width="30" height="30"
        class="d-inline-block">
      Trello
    </a>

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <button class="btn btn-secondary bg-transparent border-0 dropdown-toggle" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Workspaces
          </button>
          <div class="dropdown-menu bg-dark p-4 mt-3" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-white" href="#">Action</a>
            <a class="dropdown-item text-white" href="#">Another action</a>
            <a class="dropdown-item text-white" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-secondary bg-transparent border-0 dropdown-toggle" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recent
          </button>
          <div class="dropdown-menu bg-dark p-4 mt-3" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-white" href="#">Practice</a>
            <a class="dropdown-item text-white" href="#">Task Management</a>
            <a class="dropdown-item text-white" href="#">Project Management</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <button class="btn btn-secondary bg-transparent border-0 dropdown-toggle" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Starred
          </button>
          <div class="dropdown-menu bg-dark p-4 mt-3" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-white" href="#">Task Management</a>
          </div>
        </li>
        <li class="nav-item dropdown me-2">
          <button class="btn btn-secondary bg-transparent border-0 dropdown-toggle" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Templates
          </button>
          <div class="dropdown-menu bg-dark p-4 mt-3 overflow-auto" style="max-width: 360px; max-height: 250px;"
            aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item text-white" href="#">1-on-1 Meeting Agenda</a>
            <a class="dropdown-item text-white" href="#">Agile Board Template | Trello</a>
            <a class="dropdown-item text-white" href="#">Company Overview</a>
            <a class="dropdown-item text-white" href="#">Design Huddle</a>
            <a class="dropdown-item text-white" href="#">Go To Market Strategy Template</a>
            <a class="dropdown-item text-white" href="#">Kanban Template</a>
            <a class="dropdown-item text-white" href="#">Remote Team Meetings</a>
            <a class="dropdown-item text-white" href="#">Simple Project Board</a>
            <a class="dropdown-item text-white" href="#">Teaching: Weekly Planning</a>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn btn-light" type="button">Create</button>
        </li>
      </ul>
      <div class="d-flex">
        <input class="form-control me-2 bg-transparent text-white search" type="text" placeholder="&#xF002; Search"
          style="font-family:Arial, FontAwesome">
        <a class="navbar-brand me-3" href="#">
          <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/appointment-reminders--v1.png" alt="notifs" width="25"
            height="25" class="d-inline-block">
        </a>
        <a class="navbar-brand me-3" href="#">
          <img src="https://img.icons8.com/ios/50/FFFFFF/help--v1.png" alt="info" width="25" height="25"
            class="d-inline-block">
        </a>
        <a class="navbar-brand me-2" href="#">
          <img src="https://i.pinimg.com/564x/0e/38/5b/0e385b042bbd43933daaa6d873570cba.jpg" alt="profile" width="30"
            height="30" class="d-inline-block align-text-top rounded-circle shadow-4-strong" (click)="logout()">
        </a>
      </div>
    </div>
  </div>
</nav>






<div class="d-flex flex-column flex-shrink-0 text-white bg-dark" style="width: 280px; height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi" width="10" height="20">
      <use xlink:href="#bootstrap" /></svg>
    <div class="navbar-brand me-2" href="#">
      <img src="https://img.icons8.com/material-rounded/24/FFFFFF/lawyer.png" alt="info" width="25" height="25"
        class="d-inline-block">
    </div>
    <span class="fs-6 fw-bolder">Your Workplace</span>
  </a>
  <hr>
  <span class="fs-6 fw-medium p-2">Your Boards</span>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active d-flex" aria-current="page">
        <div class="navbar-brand me-2" href="#">
          <img
            src="https://img.freepik.com/free-photo/morskie-oko-tatry_1204-510.jpg?w=996&t=st=1698907035~exp=1698907635~hmac=bd11db34ab3a7eba6364b9849a1089465a4ddb092d1d41639342f57411a874b4"
            alt="info" width="25" height="25" class="d-inline-block">
        </div>
        <!-- <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home" /></svg> -->
        <p class="me-auto mb-md-0">Practice</p>
        <a class="navbar-brand manage-board-btn px-2 me-2" href="#">
            <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/ellipsis.png" alt="info" width="15" height="14"
              class="d-inline-block">
          </a>
        
        <a class="navbar-brand fav-btn" href="#">
            <img src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/star--v1.png" alt="info" width="18" height="18"
              class="d-inline-block">
          </a>
      </a>
      
    </li>
    <li>
      <a href="#" class="nav-link text-white d-flex">
        <div class="navbar-brand me-2" href="#">
          <img
            src="https://img.freepik.com/free-photo/reflection-lights-mountain-lake-captured-parco-ciani-lugano-switzerland_181624-24209.jpg?w=996&t=st=1698906874~exp=1698907474~hmac=dd22e6b51b81c91366ed150b8a83f0672a359d92e5b32e25bde9b7903eeebfae"
            alt="info" width="25" height="25" class="d-inline-block">
        </div>
        <!-- <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#" /></svg> -->
            <p class="me-auto mb-md-0">Task Management</p>
            <a class="navbar-brand manage-board-btn px-2 me-2" href="#">
                <img src="https://img.icons8.com/ios-glyphs/30/FFFFFF/ellipsis.png" alt="info" width="15" height="14"
                  class="d-inline-block">
              </a>
            
            <a class="navbar-brand fav-btn" href="#">
                <img src="https://img.icons8.com/fluency-systems-regular/48/FFFFFF/star--v1.png" alt="info" width="18" height="18"
                  class="d-inline-block">
              </a>
      </a>
    </li>
  </ul>
</div>